<div class="col-sm-3 col-md-2 sidebar">
    <div class="row user-panel">
        <a href="#">
            <img src="assets/images/avatar.png" alt="User Image">
            <span class="hidden-xs">{{fullName}}</span>
        </a>
    </div>
    <ul class="nav nav-sidebar flex-column" #navSidebar>
        <li class="header nav-item">
            MAIN NAVIGATION
        </li>
        <li class="tree-view nav-item">
            <a class="nav-link">
                <i class="fa fa-pencil-square-o"></i>
                <span>Items</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a [routerLink]="['/item/list']"><i class="fa fa-circle-o"></i>Item List</a></li>
            </ul>
        </li>
        <li class="tree-view nav-item">
            <a class="nav-link">
                <i class="fa fa-file-image-o"></i>
                <span>Images</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a [routerLink]="['/image/list']"><i class="fa fa-circle-o"></i>Image List</a></li>
            </ul>
        </li>
        <li class="tree-view nav-item">
            <a class="nav-link">
                <i class="fa fa-file-text-o"></i>
                <span>Templates</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a [routerLink]="['/template/add']"><i class="fa fa-circle-o"></i>Add Template</a></li>
                <li><a [routerLink]="['/template/list']"><i class="fa fa-circle-o"></i>Template List</a></li>
            </ul>
        </li>
    </ul>
</div>