/*
 * Sidebar
 */
 .nav > li > a:focus,
 .nav > li > a:hover {
   text-decoration: none;
   background-color: #1e282c;
 }
 .nav > li > a:focus, 
 .nav > li > a:hover {
   text-decoration: none;
   background-color: #1e282c;
 }
 .sidebar .user-panel img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
  margin-left: 5px;
}
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222d32;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.sidebar a {
  color: #b8c7ce;
}
.nav-sidebar {
  margin: 20px -20px;
}
.nav-sidebar > li.header {
  color: #4b646f;
  background: #1a2226;
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  border-left: 3px solid transparent;
  transition: border-left-color 1s ease-out;
  cursor: pointer;
}
.nav-sidebar > li.active > a {
  border-left-color: #3c8dbc;
  opacity: 1;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #1e282c;
}
.nav-sidebar > li > a > .fa {
  margin-right: 5px;
  vertical-align: middle;
}
.treeview-menu {
  list-style: none;
  padding: 0;
  margin: 0 1px;
  padding-left: 10px;
  background: #2c3b41;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s ease;
}
.treeview-menu > li >a > .fa {
  width: 20px;
}
.treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 13px;
  text-decoration: none;
}
.treeview-menu > li > a:hover{
  color: #fff;
}
.active .treeview-menu {
  max-height: 200px;
}
.tree-view .pull-right-container .fa{
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
  -o-transition: transform .5s ease;
}
.tree-view.active .pull-right-container .fa{
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}