﻿@model WebBlog.AuthServer.Models.UserListViewModel

@{
    ViewData["Title"] = "UserManagement";
}

<div class="login-page">
    <div class="page-header">
        <h1>User Management</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Created At</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i < @Model.Users.Count; i++)
                            {
                                var user = Model.Users[i];

                                <tr>
                                    <th scope="row">@(i+1)</th>
                                    <td>@user.UserName</td>
                                    <td>@user.FullName</td>
                                    <td>@user.CreatedAt</td>
                                    <td>
                                         <a asp-route-userId="@user.UserId" asp-action="Update">Update User</a>
                                    </td>
                                </tr>
                            }
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>