<style>
    .table-responsive{
        min-height: 300px;
    }
</style>

<div class="page-header">
    <blockquote class="blockquote">
        <h3>Template</h3>
        <footer class="blockquote-footer">List</footer>
    </blockquote>
</div>

<div class="table-responsive">
    <div class="has-error" *ngIf="!statusResult?.isSuccess">
        <span class="error-msg help-block">{{statusResult?.message}}</span>
    </div>
    <table class="list table table-sm table-hover">
        <thead>
            <tr class="d-flex">
                <th class="col-1">#</th>
                <th class="col-3">Template name</th>
                <th class="col-3">Created date</th>
                <th class="col-3">Updated date</th>
                <th class="col-2">
                    <a [routerLink]="['/template/add']" class="btn btn-primary pull-right">Add new</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="templateList == null" class="d-flex">
                <td [attr.colspan]=5>
                    Templates not found!
                </td>
            </tr>
            <tr *ngFor="let item of templateList;" class="d-flex">
                <td class="col-1"></td>
                <td class="col-3">
                    <a [routerLink]="['/template/edit', item.id]">{{item.name}}</a>
                </td>
                <td class="col-3">
                    {{item.createdOn}}
                </td>
                <td class="col-3">
                    {{item.updatedOn}}
                </td>
                <td class="col-2">
                    <!-- Split button -->
                    <div class="btn-group" ngbDropdown>
                        <a [routerLink]="['/template/edit', item.id]" class="btn btn-primary">Edit</a>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" href="#" (click)="onRemoveClick(item)">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            
        </tbody>
        
    </table>
      
</div>

<app-modal [modalTitle]="'Warning...'">
   <p>Do you want to remove this template?</p>
</app-modal>