<div class="page-header">
    <blockquote class="blockquote">
        <h3>Template</h3>
        <footer class="blockquote-footer">Add new</footer>
    </blockquote>
</div>
<div class="table-responsive">
    <form *ngIf="templateForm" [formGroup]="templateForm" (submit)="onSubmit()" class="form-horizontal container-fluid">
        <div *ngIf="!statusResult?.isSuccess">
            <span class="text-danger help-block">{{statusResult?.message}}</span>
        </div>

        <input type="hidden" [formControl]="templateForm.controls.id"/>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label required">Template name</label>
                    <app-input 
                        [pFormControl]="templateForm.controls.name"
                        [labelText]="'Template name'">
                    </app-input>
                </div>
                <div class="col-md-6" *ngIf="templateForm.controls.createdOn.value != null">
                    <label class="control-label">Created on</label>
                    <input class="form-control" disabled value="{{templateForm.controls.createdOn.value}}"/>
                </div>
                <div class="col-md-6" *ngIf="templateForm.controls.updatedOn.value != null">
                    <label class="control-label">Updated on</label>
                    <input class="form-control" disabled value="{{templateForm.controls.updatedOn.value}}"/>
                </div>
            </div>
            
        </div>
        <div>
            <table class="table list table-striped">
                <thead>
                    <tr class="d-flex">
                        <th class="col-3 required">Field Name</th>
                        <th class="col-2 required">Field Type</th>
                        <th class="col-2">Validation</th>
                        <th class="col-3">Data source</th>
                        <th class="col-2">
                            <a *ngIf="canModify" class="btn btn-primary pull-right" (click)="addField()">Add new</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of templateForm.get('fieldsList').controls; let i = index;" class="d-flex">
                        <ng-container [formGroup]="item">
                            <td class="col-3">
                                <input type="hidden" [formControl]="item.controls.id"/>
                                <app-input 
                                    [pFormControl]="item.controls.name"
                                    [labelText]="'Field name'">
                                </app-input>
                            </td>
                            <td class="col-2">
                                <app-select [pFormControl]="item.controls.fieldTypeId" 
                                            [selectList]="fieldTypeSelectList"></app-select>
                            </td>
                            <td class="col-2">
                                <label><input type="checkbox" [formControl]="item.controls.isRequired"/>Required</label>
                            </td>
                            <td class="col-3">
                                <app-select *ngIf="shouldShowDatasource | callFunc:item.controls.fieldTypeId.value"
                                    [pFormControl]="item.controls.dataSource" 
                                    [selectList]="dataSourceSelectList"></app-select>
                            </td>
                                
                            <th class="col-2" ngbDropdown #varDrop="ngbDropdown">
                                <a *ngIf="canModify" class="pull-right removeLink btn-group" ngbDropdownToggle>
                                    <i class="fa fa-times" aria-hidden="true"><small>Remove</small></i>
                                    <ul class="dropdown-menu" ngbDropdownMenu>
                                        <li class="text-center">
                                            <p>Are you sure?</p>
                                            <div>
                                                <a class="btn btn-primary btn-sm" (click)="removeField(i)" style="margin-right: 15px;">Yes</a>
                                                <a class="btn btn-light btn-sm" (click)="varDrop.close();">No</a>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </th>
                        </ng-container>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <div class="form-row" *ngIf="canModify">
             <button type="submit" class="btn btn-primary">Save</button>  
        </div>
    </form>
   
</div>