/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}
.pointer {
    cursor: pointer;
}
.required::after {
    content: " *";
    color: red
}
.ck-editor__editable_inline {
    min-height: 400px;
}
.blockquote {
    padding: 10px 20px;
    border-left: 5px solid #eee;
    margin: 0 0 25px;
}
.table.list thead th {
    border-top: none;
}
.removeLink.dropdown-toggle::after {
    display: none;
}