<div class="page-header">
    <blockquote class="blockquote">
        <h3>Item</h3>
        <footer class="blockquote-footer">Add new</footer>
    </blockquote>
</div>
<div class="table-responsive">
    <div class="has-error" *ngIf="!statusResult?.isSuccess">
        <span class="error-msg help-block">{{statusResult?.message}}</span>
    </div>
    <form *ngIf="itemForm" [formGroup]="itemForm" (submit)="onSubmit()" class="form-horizontal container-fluid">
            <input type="hidden" [formControl]="itemForm.controls.id"/>
            <input type="hidden" [formControl]="itemForm.controls.templateId"/>

            
            <div class="form-group">
                <label class="control-label required col-sm-3">Item name</label>
                <div class="col-sm-9">
                    <app-input [pFormControl]="itemForm.controls.name"
                            [labelText]="'Item name'"></app-input>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Template name</label>
                <div class="col-sm-9">
                    <input class="form-control" disabled value="{{template.name}}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Parent item</label>
                <div class="col-sm-9">
                    <app-select [defaultLabel]="true" [pFormControl]="itemForm.controls.parentItemId" 
                            [selectList]="itemSelectList"></app-select>
                </div>
            </div>
            <ng-container *ngFor="let itemValue of itemForm.get('itemValuesList').controls;">
                <ng-container *ngTemplateOutlet="fieldTemplate; context:{ $implicit: itemValue }"></ng-container>
            </ng-container>
          
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Save</button>  
           </div>
    </form>
</div>

<!-- Render fields template-->
<ng-template #fieldTemplate let-itemValue>
    <ng-container  [formGroup]="itemValue" *ngIf="getFieldInfo | callFunc: itemValue.controls.fieldId.value : template; let field">
        <ng-container *ngIf="getFormElement | callFunc:field.fieldTypeId; let formEl">
            <div class="form-group">
         
                <input type="hidden" formControlName="fieldId"/>
                <input type="hidden" formControlName="id"/>
                <label class="col-sm-3 control-label" [class.required]="field.isRequired">{{field.name}}</label>
            
                <div [ngSwitch]="formEl" class="col-sm-9">
                    <input *ngSwitchCase="FormElement.Number" 
                        [formControl]="itemValue.controls.value" class="form-control" type="number"/>

                    <app-input *ngSwitchCase="FormElement.PlainText"
                        [pFormControl]="itemValue.controls.value" [labelText]="field.name"></app-input>

                    <label *ngSwitchCase="FormElement.Bool">
                        <input type="radio" [formControl]="itemValue.controls.value" value="true"> Yes
                        <input type="radio" [formControl]="itemValue.controls.value" value="false"> No
                    </label>

                    <app-input *ngSwitchCase="FormElement.RichText"
                        [pFormControl]="itemValue.controls.value" [ckEditor]="true" [labelText]="field.name"></app-input>

                    <app-datetime *ngSwitchCase="FormElement.DateTime" 
                        [pFormControl]="itemValue.controls.value" [labelText]="field.name"></app-datetime>

                    <ng-container *ngSwitchCase="FormElement.Select">
                        <app-select 
                            [pFormControl]="itemValue.controls.value" 
                            [selectList]="getSelectListByDatasource | callFunc:field.dataSource:webblogService | async"></app-select>
                    </ng-container>
                    
                    <ng-container *ngSwitchCase="FormElement.MultipleSelect">
                        <app-select 
                            [multiple]="true"
                            [pFormControl]="itemValue.controls.value" 
                            [selectList]="getSelectListByDatasource | callFunc:field.dataSource:webblogService | async"></app-select>
                    </ng-container>

                    <ng-container *ngSwitchCase="FormElement.Image">
                        <div class="input-group">
                            <input type="text" class="form-control" readonly [formControl]="itemValue.controls.value">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="openImagePicker(itemValue.controls.value)" type="button">Image Reference</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<!-- Image picker modal -->
<style>
    .modal-dialog {
        width: 75%;
        max-width: max-content;
    }
</style>
<app-modal [modalTitle]="'Select images...'" [classList]="'modal-lg mt-5'" #imageModal>
    <form *ngIf="imagePickerForm" [formGroup]="imagePickerForm">
        <div *ngIf="!imagePickerForm.valid && this.imagePickerForm.touched" class="text-danger"> Please select an image!</div>
        <div>
            <ng-container *ngFor="let item of imagePagedList?.results;">
                <label class="col-xs-4 col-md-3">
                    <input type="radio" class="form-check-input" required [formControl]="imagePickerForm.controls.selectedImage" [value]="item.id">{{item.fileName}}
                    <img class="w-100" src="{{'data:image/jpg;base64,' + item.content}}">
                </label>
            </ng-container>
        </div>
    </form>
    
    <div class="row">
        <app-pagination (changePage)="loadImages($event)" [pagedList]="imagePagedList"></app-pagination>
    </div>
</app-modal>