<style>
    blockquote {
        padding-bottom: 0;
    }
    .table-responsive {
        min-height: 300px;
    }
    .list-group-item {
        padding-right: 0;
        padding-bottom: 0;
        border: none;
    }
    .list-group-item.has-child:before {
        font-family: FontAwesome;
        content: '\f054';
        position: absolute;
        left: 0;
        font-size: smaller;
        transition: transform 0.5s ease;
    }
    .list-group-item > .list-group {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        margin-bottom: 0;
    }
    .list-group-item > a {
        display: block;
        cursor: pointer;
        margin-right: 20%;
    }
    .list-group-item.show > .list-group {
        max-height: 300px;
        transition: max-height 0.75s ease;
    }
    .show.list-group-item::before {
        transform: rotate(90deg);
        transition: transform 0.5s ease;
    }
    .btn-sm {
        line-height: 1;
    }
</style>

<div class="page-header">
    <blockquote class="blockquote clearfix">
        <h3>Item</h3><footer class="blockquote-footer">List</footer>
        <a (click)="onAddNewClick()" class="btn btn-primary pull-right">Add new</a>
    </blockquote>
</div>

<div class="table-responsive">
    <div style="border: 1px dashed;padding: 10px;">
        
        <ng-template #itemTemplateRef let-list>
            <ul class="list-group" *ngIf="list?.length > 0">
                <ng-container *ngFor="let item of list">
                    <li class="list-group-item" 
                        [ngClass]="{ 'show':item.status, 'has-child': item.childItemsList.length }">
                        <div class="d-flex">
                            <a class="col-9 pointer" (click)="item.status=!item.status">{{item.name}}</a>
                            <div class="col-3 text-right">
                                <a [routerLink]="['/item/edit', item.id]" class="btn btn-sm btn-primary">Edit</a>
                                <a class="btn btn-sm btn-light removeLink" (click)="onRemoveItem(item)">Remove</a>
                            </div>
                        </div>
                        <ng-container *ngTemplateOutlet="itemTemplateRef; context:{ $implicit: item.childItemsList }"></ng-container>
                    </li>
                </ng-container>
            </ul>
        </ng-template>
        <ng-template
            [ngTemplateOutlet]="itemTemplateRef"
            [ngTemplateOutletContext]="{ $implicit: itemsList }">
        </ng-template>

    </div>
</div>

<app-modal [modalTitle]="'Select template...'" #addNewModal>
    <form [formGroup]="selectTemplateForm">
        <div class="form-group">
            <label class="control-label required">Template</label>
            <app-select [pFormControl]="selectTemplateForm.controls?.template" [selectList]="templateSelectList"></app-select>
        </div>
    </form>
</app-modal>

<app-modal [modalTitle]="'Warning...'" #confirmModal>
    <p>Do you want to remove this item and its descendants?</p>
</app-modal>