<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Project name</a>
    <button (click)="isCollapse=!isCollapse" class="navbar-toggler bg-dark" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
   
    <div [@toggle]="isCollapse" class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#" (click)="onSignOut()">Sign out</a></li>
        </ul>
    </div>
</nav>
