.navbar {
    background-color: #3c8dbc;
    border: none;
}
.navbar .navbar-collapse {
    overflow: hidden;
}
.navbar-nav>li>a,
.navbar-brand {
    color: white;
}
.navbar .navbar-nav>li>a:hover {
    background: #080808;
    color: #f6f6f6;
}
@media (min-width: 768px) {
    .navbar-collapse {
        max-height: 300px !important;
    }
    .navbar-right {
        margin-right: 0;
    }
}
