<style>
  blockquote {
    padding-bottom: 0;
  }
  .flex-container {
    display: flex; 
    flex-wrap: wrap;
  }
  .thumbnail {
    margin-bottom: 0;
  }
  .flex-container article {
    margin-bottom: 15px;
    position: relative;
  }
  article .close {
    color: red;
    opacity: 1;
  }
  article .dropdown-menu {
    top: 20px;
  }
</style>

<div class="page-header">
    <blockquote class="blockquote clearfix">
      <h3>Image</h3><footer class="blockquote-footer">List</footer>
      <app-upload (onUpload)="onUpload($event)" class="col-md-4 pull-right"></app-upload>
  </blockquote>
</div>

<div class="row">
  <div class="flex-container">
      <div *ngFor="let item of imageList?.results;let i = index;" class="col-xs-4 col-md-3">
        <article #varDrop="ngbDropdown" ngbDropdown>
            <span>{{item.fileName}}</span>
            <a class="close removeLink" ngbDropdownToggle>
              <i class="fa fa-remove"></i>
              <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <li class="text-center">
                    <p>Are you sure?</p>
                    <div>
                        <a class="btn btn-primary btn-sm" (click)="onRemoveImage(i)" style="margin-right: 15px;">Yes</a>
                        <a class="btn btn-light btn-sm" (click)="varDrop.close();">No</a>
                    </div>
                </li>
              </ul>
            </a>
            <a class="thumbnail">
              <img class="w-100" src="{{'data:image/jpg;base64,' + item.content}}">
            </a>
        </article>
      </div>
  </div>
  <div class="container-fluid">
    <app-pagination (changePage)="onChangePage($event)" [pagedList]="imageList"></app-pagination>
  </div>
</div>