﻿@{
    ViewData["Title"] = "Index";
}

<div class="login-page">
    <div class="page-header">
        <h1>Login successful</h1>
    </div>

    <div class="row">
        <h3>@User.Identity.Name - Wellcome to Identity Server4 </h3>
        <ul>
            @foreach (var item in User.Claims)
            {
                <li>
                   @item.Type - @item.Value
                </li>
            }
        </ul>
       
    </div>
</div>